*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project specific
FinanceTrack/.gradle/
FinanceTrack/app/build/
FinanceTrack/local.properties
FinanceTrack/.idea/
